@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.container {
    padding: 80px 0px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    font-size: 18px;
    color: #242424;
}

h1 {
    color: #242424;
    font-size: 48px;
    font-weight: bold;
}

.h3 {
    color: #6415FF;
}

p {
    color: #718096;
    line-height: 1.5;
    font-size: 18px;
}

.cobalt {
    color: #6415FF;
}

.section__title {
    font-size: 16px;
    color: #6415FF;
}

.section__title--description {
    margin: 16px 0;
    font-weight: bold;
}

.sub-title__heading {
    color: #243e63;
    font-size: 20px;
}

/* NAVIGATION */


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.logo {
    width: 50px;
}

.logo__name {
    padding-left: 16px;
}

.nav__wrapper {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
}

.nav__link {
    padding: 0 8px;
    text-decoration: none;
}

.nav__link:hover {
    color: #6415FF;
    text-decoration: underline;
}

.login__link {
    padding: 0 16px;
}

.sign-up {
    padding: 8px 32px;
    border: none;
    border-radius: 25px;
    background-color: #6415FF;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.sign-up:hover {
    background-color: #0416ff; 
}

/*  SPLASH  */

.splash__wrapper {
    display: flex;
}

.splash__description--wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 480px;
    justify-content: center;
}

.splash__description {
    margin: 16px 0;
}

.btn__wrapper {
    display: flex;
    position: relative;
}

.form__control {
    width: 384px;
    border-radius: 9999px;
    border: 2px solid #a0aec0;
    font-size: 20px;
    padding: 8px 24px 8px 160px;
}

.btn__get-started {
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 9999px;
    border: none;
    background-color: #6415FF;
    color: #fff;
    font-size: 20px;
    padding: 8px 24px;
}

.btn__get-started:hover {
    background-color: #0416ff;
    cursor: pointer;
}

.corp-list__para {
    margin-top: 16px;
    color: #a0aec0;
}

.corp-list__img--wrapper {
    margin: 8px 0;  
}

.corp-list__img {
    width: 100%;
}

.splash__img--wrapper {
    width: 60%;
    padding-left: 48px;
}

.splash__img {
    width: 100%;
}

/*  FEATURES  */

.features--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__title {
    text-align: center;
}

.features__sub-title {
    text-align: center;
}

.features__description--para {
    max-width: 480px;
    text-align: center;
}

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 24px;
    max-width: 920px;
    margin: 0 auto;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 16px 8px;
}

.features__img {
    height: 50px;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}


/*  QUALITY  */

.quality__row{
    display: flex;
}

.quality__description {
    padding: 0 28px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.section__title {
    margin-bottom: 8px;
}

.quality__title {
    margin-bottom: 8px;
}

.learn-more {
    background-color: #6415FF;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 9999px;
    max-width: 160px;
    margin-top: 16px;
    padding: 8px;
}

.learn-more:hover {
    background-color: #0416ff;
    cursor: pointer;
}

.quality__img--wrapper {
    width: 50%;
}

.quality__img {
    width: 100%;
}

/*  STEPS  */

.steps__row {
    display: flex;
}

.steps__img--wrapper {
    width: 50%;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__img {
    width: 75%;
}

.steps__wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.step {
    display: flex;
}

.step__number {
    font-size: 32px;
    color: #cbd5e0;   
    margin-right: 8px;
}

.step__wrapper {
    max-width: 400px;
    padding: 0 16px;
}

.step__title {
    color: #243e63;
    font-size: 16px;
    margin: 8px 0;
}

.step__description {
    color: #718096;
}

/*  VALUES  */

.values__wrapper {
    display: flex;
}

.values__description--wrapper {
    width: 50%;
}

.values__description {
    color: #7c8ba1;
    max-width: 480px;
    margin-bottom: 8px;
}

.values__list {
    display: flex;
}

.value__wrapper {
    margin: 16px 0;
    width: 50%;
}

.value__heading {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

.icon__wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 16px;
}

.affordable__icon--wrapper {
    background-color: #9ae6b4;
    position: relative;
}

.affordable__icon {
    color: #19a84b;
    position: absolute;
    padding: 6px 0 0 10px;
}

.professionalism__icon--wrapper {
    background-color: #feb2b2;
    position: relative;
    padding: 6px 0 0 8px;
}

.professionalism__icon {
    color: #cc4141;
    position: absolute;
    margin-bottom: 8px;
}

.value__description {
    font-size: 16px;
    color: #718096;
    max-width: 240px;
}

.values__img--wrapper {
    width: 50%;
}

.values__img {
    width: 100%;
}

.learn-more__values {
    padding: 8px 24px;
}

/* PRICING */

.pricing__row {
    display: flex;
    flex-direction: column;
}

.pricing__title,
.pricing__title--description {
    text-align: center;
}

.pricing__description {
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
    padding-bottom: 24px;

}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plan {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.plan__personal,
.plan__enterprise {
    border-radius: 8px;
    border-top: none;
    border-left: 1px solid #a0aec0;
    border-right: 1px solid #a0aec0;
    border-bottom: 1px solid #a0aec0;
}

.plan__personal--topper,
.plan__enterprise--topper {
    height: 8px;
}

.plan__personal--topper {
    height: 16px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.plan__enterprise--topper {
    height: 16px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.plan__business {
    height: calc(100vh + 8px);
    border-radius: 8px;
    border: 1px solid #a0aec0;
}

.plan__header {
    padding: 32px 24px;
    text-align: center;
}

.plan__level {
    font-size: 20px;
    padding: 8px 0;
}

.plan__cost {
    color: #1a202c;
    padding: 16px 0;
}

.plan__frequency {
    font-weight: bold;
    padding: 8px;
}

.h__line {
    width: 100%;
    height: 1px;
    background: #a0aec0;
}

.plan__demographic {
    color: #1a202c;
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0;
}

.plan__benefits {
    margin:24px;
}

.plan__benefit {
    text-align: center;
    margin-top: 8px;
    padding: 0 32;
    font-size: 20;
    color: #718096;
}

.buy-now__wrapper {
    padding: 32px 0;
}

.buy-now__btn {
    font-size: 20px;
    padding: 8px 24px;
    border-radius: 20px;
    transition: all 300ms ease;
}

.buy-now__btn:hover {
    cursor: pointer;
    transform: translate(2px, -2px);
    box-shadow: 0 3px 50px #7c8ba1; 
}

.business__buy-now:hover {
    box-shadow: 0 3px 50px #1a202c;
}

.personal__buy-now {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__business {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.business__buy-now {
    background-color: #fff;
}

.plan__level--business,
.plan__cost--business,
.plan__frequency--business,
.plan__demographic--business,
.plan__benefit--business {
    color: #fff;
}

.enterprise__buy-now {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.buy-now__btn {
    border: none;
}

/*  TESTIMONIALS */

.testimonials__wrapper {
    display: flex;
}

.testimonials__img--wrapper {
    width: 50%;
}

.testimonials__img {
    width: 100%;
}

.testimonials__description {
    width: 50%;
    height: 100vh;
    padding: 0 48px;
}

.testimonial__description {
    margin: 16px 0;
}

.rating__icon {
    color: #fcb53b;
    margin-bottom: 16px;
}

.testimonial__para {
    margin: 16px 0;
}

.testimonial__client {
    display: flex;
    justify-content: space-between;  
}

.client__info {
    display: flex;
    align-items: center;
}

.client__img-wrapper {
    margin-right: 24px;
}

.client__img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 24px;
}

.client__name {
    color: #243e63;
}

.arrow__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow__icon--wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf2f7;
    margin: 0 24px;
    position: relative;
}

.arrow__icon {
    color: #6415FF;
    font-size: 20px;
    position: absolute;
    top: 16px;
}

.arrow__icon--wrapper:hover {
    cursor: not-allowed;
}

.arrow__icon--left {
    
    left: 16px;
}

.arrow__icon--right {
    right: 16px;
}

/*  GET STARTED  */

.get-started__banner--wrapper {
    display: flex;
    justify-content: center;
}

.get-started__banner {
    width: 90%;
    max-width: 1080px;
    height: 200px;
    background-color: #6415FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.get-started__headline {
    font-size: 28px;
    color: #fff;
    margin: 0 24px;
    max-width: 540px;
}

.get-started__btn--wrapper {
    margin: 0 24px;
}

.get-started__btn {
    padding: 20px 32px;
    border-radius: 9999px;
    border: none;
    font-size: 16px;
    margin: 0 16px;
}

.get-started__btn--footer {
    background-color: #f56565;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    transition: all 300ms ease;
}

.get-started__btn--footer:hover {
    cursor: not-allowed;
    background-color: #f02929;
}

.contact-us__btn--footer {
    background-color: #6415FF;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    transition: all 300ms ease;
}

.contact-us__btn--footer:hover {
    cursor: not-allowed;
    background-color: #fff;
    color: #6415FF;
}

/*  FOOTER  */

.footer__row {
    background-color: #6415FF;
    padding: 24px 0;
}

.links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.links__container {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    padding: 0 64px;
}

.link__heading,
.link {
    color: #f7fafc;
}

.link__heading {
    margin: 16px 0;
    font-size: 14px;
    font-weight: bold;
}

.link {
    margin: 8px 0;
    font-size: 12px;
    text-decoration: none;
    transition: all 300ms ease;
}

.link:hover {
    text-decoration: underline;
    color: #f7facf;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 64px;
}

.footer__img--wrapper {
    display: flex;
    align-items: center;
}

.footer__img {
    width: 30px;
    margin-right: 8px;
}

.treact__name {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.copyright {
    color: #f7facf;
    font-size: 14px;
}

.social__icons {
    display: flex;
    margin-right: 16px;
}

.social__icon--wrapper {
    margin-left: 16px;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    position: relative;
}

.social__icon {
    position: absolute;
    color: #6415FF;
    left: 3px;
    top: 4px;
}

.social__icon--facebook {
    left: 7px;
}

.social__icon--x {
    left: 6px;
}


@media (max-width: 768px) {
    .section__title--description {
        font-size: 36px;
    }

    .p {
        font-size: 14px;
    }
}