@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.container {
    padding: 80px 0px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    font-size: 18px;
    color: #242424;
}

h1 {
    color: #242424;
    font-size: 48px;
    margin-bottom: 16px;
    font-weight: bold;
}

.h3 {
    color: #6415FF;
}

p {
    color: #718096;
    line-height: 1.5;
    font-size: 18px;
}

.cobalt {
    color: #6415FF;
}

.section__title {
    font-size: 16px;
    color: #6415FF;

}

/* NAVIGATION */


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.logo {
    width: 50px;
}

.logo__name {
    padding-left: 16px;
}

.nav__wrapper {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
}

.nav__link {
    padding: 0 8px;
    text-decoration: none;
}

.nav__link:hover {
    color: #6415FF;
    text-decoration: underline;
}

.login__link {
    padding: 0 16px;
}

.sign-up {
    padding: 8px 32px;
    border: none;
    border-radius: 25px;
    background-color: #6415FF;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.sign-up:hover {
    background-color: #0416ff; 
}

/*  SPLASH  */

.splash__wrapper {
    display: flex;
}

.splash__description--wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 480px;
    justify-content: center;
}

.splash__description {
    margin: 16px 0;
}

.btn__wrapper {
    display: flex;
    position: relative;
}

.form__control {
    width: 384px;
    border-radius: 9999px;
    border: 2px solid #a0aec0;
    font-size: 20px;
    padding: 8px 24px 8px 160px;
}

.btn__get-started {
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 9999px;
    border: none;
    background-color: #6415FF;
    color: #fff;
    font-size: 20px;
    padding: 8px 24px;
}

.btn__get-started:hover {
    background-color: #0416ff;
    cursor: pointer;
}

.corp-list__para {
    margin-top: 16px;
    color: #a0aec0;
}

.corp-list__img--wrapper {
    margin: 8px 0;  
}

.corp-list__img {
    width: 100%;
}

.splash__img--wrapper {
    width: 60%;
    padding-left: 48px;
}

.splash__img {
    width: 100%;
}

/*  FEATURES  */

.features--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__title {
    text-align: center;
}

.features__sub-title {
    text-align: center;
}

.features__description--para {
    max-width: 480px;
    text-align: center;
}

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 24px;
    max-width: 920px;
    margin: 0 auto;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 16px 8px;
}

.features__img {
    height: 50px;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}

.feature__title {
 margin-bottom: 8px;   
}

/*  QUALITY  */

.quality__row{
    display: flex;
}

.quality__description {
    padding: 0 28px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.section__title {
    margin-bottom: 8px;
}

.quality__title {
    margin-bottom: 8px;
}

.learn-more {
    background-color: #6415FF;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 9999px;
    max-width: 160px;
    margin-top: 16px;
    padding: 8px;
}

.quality__img--wrapper {
    width: 50%;
}

.quality__img {
    width: 100%;
}

/*  STEPS  */

.steps__row {
    display: flex;
}

.steps__img--wrapper {
    width: 50%;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__img {
    width: 75%;
}

.steps__wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.step {
    display: flex;
}

.step__number {
    font-size: 32px;
    color: #cbd5e0;   
    margin-right: 8px;
}

.step__wrapper {
    max-width: 400px;
    padding: 0 16px;
}

.step__title {
    color: #243e63;
    font-size: 16px;
    margin: 8px 0;
}

.step__description {
    color: #718096;
}

/*  VALUES  */

.values__wrapper {
    display: flex;
}

.values__description--wrapper {
    width: 50%;
}

.values__description {
    color: #7c8ba1;
    max-width: 480px;
    margin-bottom: 8px;
}

.values__list {
    display: flex;
}

.value__wrapper {
    margin: 16px 0;
    width: 50%;
}

.value__heading {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

.icon__wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.affordable__icon--wrapper {
    background-color: #9ae6b4;
    position: relative;
}

.affordable__icon {
    color: #19a84b;
    position: absolute;
    padding: 6px 0 0 10px;
}

.professionalism__icon--wrapper {
    background-color: #feb2b2;
    position: relative;
    padding: 6px 0 0 8px;
}

.professionalism__icon {
    color: #cc4141;
    position: absolute;
    margin-bottom: 8px;
}

.value__title {
    margin-left: 16px;
    color: #243e63;
    font-size: 20px;
}

.value__description {
    font-size: 16px;
    color: #718096;
    max-width: 240px;
}

.values__img--wrapper {
    width: 50%;
}

.values__img {
    width: 100%;
}

.learn-more__values {
    padding: 8px 24px;
}